<div class="browser-navigation panel-heading">
    {{url-bar class="navbar-form" role="navigation"}}
    <div class="browser-toolbar">
        {{yield (hash section="toolbar")}}
    </div>
</div>
<div class="browser-banner{{unless webSocket.showBanner ' hide'}}">
    {{#if webSocket.connecting}}
        连接中 ...
    {{else if webSocket.closed}}
        {{#if webSocket.secondsUntilReconnect }}
             {{webSocket.secondsUntilReconnect}} 秒后重连服务器.
        {{else if websocket.reconnectMessage}}
            {{websocket.reconnectMessage}}
        {{/if}}
        {{#unless webSocket.reconnectImminent}}
            <a class="alert-link" {{action 'reconnectWebsocket'}}>重试</a>.
        {{/unless}}
    {{else if webSocket.reconnectComponent}}
        {{component webSocket.reconnectComponent}}
    {{/if}}
</div>
<div class="frame-container panel-body">
    <div class="overlay-container">
        {{yield (hash section="overlays")}}
    </div>
    {{browser-iframe clickHandler=(action 'viewPortClick') changeHandler=(action 'viewPortChange') }}
</div>

<div class="browser-start-page {{if browser.url 'hide'}}">
    <!-<img src="/assets/images/portia-logo.svg" alt="Portia logo">->
    <h3>请输入希望爬取的链接?</h3>
    {{url-bar class="navbar-form" role="navigation" autofocus=true}}
    {{#if uiState.models.project.spiders.length}}
        <p>
            您也可以从以下爬虫中选择
        </p>
    {{/if}}
</div>
