{{#list-item-text class="title fragments-title"}}
    Fragments
    {{#help-icon}}
        片段
        <p>
            生成的URL由一个或多个片段组成。 片段可以是单个值，
            不同值的列表或一系列数字。
        </p>
        <p>
            使用片段你可以创建大量的url
        </p>
    {{/help-icon}}
{{/list-item-text}}

{{#tooltip-container tooltipFor="add-fragment-button" text="创建一个新片段以生成URL" tooltipContainer='body'}}
    {{list-item-icon
      icon='add'
      id="add-fragment-button"
      action=(action 'addFragment')
      disabled=(not allValidFragments)}}
{{/tooltip-container}}

{{#each fragments as |fragment index|}}
    {{fragment-options
      index          = index
      fragment       = fragment
      saveSpider     = saveSpider
      fragmentColor  = (array-get fragmentColors index)
      removeFragment = (action 'removeFragment')
      allValidFragments = allValidFragments
    }}
{{/each}}

<h3 class="start-url-list-title">生成列表</h3>
<div class="start-url-list form-control {{unless allValidFragments 'has-error'}}">
    <section class="start-url-generation-list">
    {{#each generatedUrlLists as |generatedUrlList|}}
        <p>
        {{#each generatedUrlList as |fragment index| ~}}
            {{#colored-span color=(array-get fragmentColors index) ~}}
                {{fragment}}
            {{~/colored-span}}
        {{~/each}}
        </p>
    {{/each}}

    {{#if (not isComplete)}}
        {{tooltip-icon
          icon='vertical-ellipsis'
          text='此列表仅显示前几个生成的URL'
          modifyClasses='one-half-x full-width'
        }}
    {{/if}}

    </section>
</div>
