{{#tree-list hide=currentSchema}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
              爬虫{{#animation-container class="inline" hide=currentSpider setHeight=false}}s {{/animation-container}}&nbsp;{{pagination}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        爬虫
                        <p>
                            爬虫抓取网页以提取数据。
                        </p>
                        <p>
                            最常见的是为每个要抓取的网站创建一个爬虫，但是一个爬虫也可以抓取多个网站。
                        </p>
                        <p>
                            要创建爬虫，请首先访问您要开始抓取的网页.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
                {{spider-message currentSpider=currentSpider}}
            {{/list-item-text}}
            {{#if currentSpider}}
                {{#animation-container}}
                    {{#link-to 'projects.project' project class='inline project-change'}}
                        显示所有爬虫
                    {{/link-to}}
                {{/animation-container}}
            {{else}}
                {{#tooltip-container tooltipFor="add-spider-button" text=addSpiderTooltipText tooltipContainer='body'}}
                    {{list-item-icon id="add-spider-button" icon='add' disabled=(not canAddSpider) action=(action 'addSpider')}}
                {{/tooltip-container}}
            {{/if}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    本项目没有爬虫
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) class="help" as |options|}}
                <div class="alert alert-info" role="alert">
                    <p>
                        要创建爬虫，请首先访问您要开始抓取的网页。
                    </p>
                </div>
            {{/tree-list-item}}

            {{#if (and noCurrentSpider isLarge)}}
                {{#tree-list-item}}
                    <input
                     class='form-control'
                     placeholder='搜索爬虫'
                     value={{spiderSearch}}
                     oninput={{perform filterSpiders
                              sortedSpiders
                              value='target.value'}}
                    />
                {{/tree-list-item}}
            {{/if}}

            {{#if (and noCurrentSpider hasPreviousPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage -1}}
                     class='fa fa-angle-up twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

            <div class={{if isFiltering 'very-opaque'}}>
            {{#each spiders as |spider|}}
                {{spider-row spider=spider project=project}}
            {{/each}}
            </div>

            {{#if (and noCurrentSpider hasNextPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage 1}}
                     class='fa fa-angle-down twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}


{{#tree-list hide=currentSpider}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
                数据格式{{#animation-container class="inline" hide=currentSchema setHeight=false}}s{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        数据格式
                        <p>
                            数据格式描述了要提取的数据。
                        </p>
                        <p>
                            爬虫可以共享数据格式以从不同的网页中提取相同的逻辑数据类型。
                        </p>
                        <p>
                            您可以提前创建数据格式，但也可以稍后创建它们，同时在网页上注释数据。
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
            {{#if currentSchema}}
                {{#animation-container}}
                    {{#link-to 'projects.project' project class='inline project-change'}}
                        显示所有schema
                    {{/link-to}}
                {{/animation-container}}
            {{else}}
                {{#tooltip-container tooltipFor="add-schema-button" text="创建新Schema" tooltipContainer='body'}}
                    {{list-item-icon id="add-schema-button" icon='add' action=(action 'addSchema')}}
                {{/tooltip-container}}
            {{/if}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or project.schemas.isPending project.schemas.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    该项目没有数据格式
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#each project.schemas as |schema|}}
                {{#tree-list-item hide=(and currentSchema (not-eq schema currentSchema)) as |options|}}
                    {{#link-to 'projects.project.schema' schema}}
                        {{#if schema.default}}
                            {{#help-icon icon='default-add' placement='right' classes='help-icon indentation-spacer'}}
                                默认情况下，此数据格式将用于新样例
                            {{/help-icon}}
                        {{else}}
                            {{indentation-spacer}}
                        {{/if}}
                        {{list-item-icon icon='schema'}}
                        {{list-item-editable value=(mut schema.name) editing=(mut schema.new) onChange=(action 'saveSchema' schema)}}
                    {{/link-to}}
                    {{#animation-container class="icon" setWidth=false setHeight=false}}
                        {{#list-item-icon-menu icon='vertical-ellipsis' as |options|}}
                            {{#if schema.default}}
                                <li {{action 'removeSchemaDefault' schema}}><a>
                                {{list-item-icon class="icon" icon="default-remove"}}删除默认值
                                </a></li>
                            {{else}}
                                <li {{action 'setSchemaDefault' schema}}><a>
                                {{list-item-icon class="icon" icon="default-add"}}设置默认值
                                </a></li>
                            {{/if}}
                            {{dropdown-delete
                              onDelete=(action 'removeSchema' schema)
                              text='删除Schema'
                              disabled=(gt schema.items.length 0)
                            }}
                        {{/list-item-icon-menu}}
                    {{/animation-container}}
                {{/tree-list-item}}
            {{/each}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}



{{#tree-list hide=(or currentSchema currentSpider ) }}
    {{#tree-list-item }}
        {{#link-to 'projects.project.jobs' project.id }}
            {{#list-item-text class="title"}}
                任务
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        任务
                        <p>
                            任务是项目中正在运行的爬虫，就像进程是正在运行的程序一样。
                        </p>
                        <p>
                            与进程一样，任务也有一些状态：挂起，运行和完成。
                        </p>
                        <p>
                            如果任务处于待处理状态，您可以取消任务，它将被删除。 如果任务正在运行，它将被终止。
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
        {{/link-to}}

    {{/tree-list-item}}

    {{#tree-list-item }}
        {{#link-to 'projects.project.schedule' project.id }}
            {{#list-item-text class="title"}}
                调度
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        调度
                        <p>
                            调度是一项定期工作，可以按时间间隔运行。
                        </p>
                        <p>
                            这对于在没有人为干预的情况下从网站连续获取新内容非常有用。
                        </p>
                        <p>
                            如果您希望将来不再运行爬网，则可以取消计划。
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
        {{/link-to}}
    {{/tree-list-item}}
{{/tree-list}}

