{{#tree-list}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title project-listing"}}
                Project
                {{#animation-container
                    hide=isPublished
                    class="inline project-changes"
                    setHeight=false
                }}
                    {{#link-to 'projects'}}显示所有项目{{/link-to}}
                {{/animation-container}}
                {{#animation-container hide=notPublished id="project-changes-info" class="inline project-changes" setHeight=false}}
                    未发布
                    {{#help-icon tooltipClasses="tooltip-wide"}}
                        未发布
                        <p>
                            此项目的更改尚未发布
                        </p>
                        <p>
                            在系统中进行更改时，将为您的用户创建一个私有工作区，与项目的其余部分分开。 其他
                            用户在发布之前无法看到这些更改，并且您无法在开始进行更改后看到其他用户发布的更改。

                        </p>
                        <p>
                            要运行爬虫或让其他用户看到您的更改，您必须首先发布 ({{icon-button icon='publish'}}) 更改.
                        </p>
                        <p>
                            清理您的私人工作区，并回到最近已发布的项目版本，您可以放弃更改({{icon-button icon='rollback'}}).
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item}}
                {{#link-to 'projects.project' project}}
                    {{indentation-spacer}}
                    {{list-item-icon icon='project'}}
                    {{#list-item-text}}
                        {{project.name}}
                    {{/list-item-text}}
                {{/link-to}}

                {{#list-item-icon-menu
                  onClick=(action 'clickProjectOptions')
                  icon='vertical-ellipsis' as |options|
                }}
                    {{#if (and versionControlled hasChanges)}}
                        <li><a {{action (chain-actions (action 'publish')
                                         options.closeMenu)}}>
                            {{list-item-icon
                              class="icon"
                              icon="publish"}}发布项目
                        </a></li>
                        <li><a {{action (chain-actions (action 'discard')
                                         options.closeMenu)}}>
                            {{list-item-icon
                              class="icon"
                              icon="rollback"}}放弃改动
                        </a></li>
                    {{/if}}
                    <li> <a href={{downloadUrl}} target='_blank'>
                        {{list-item-icon class="icon" icon="download"}}作为爬虫下载
                    </a> </li>
                    <li><a href={{downloadCodeUrl}} target='_blank'>
                        {{list-item-icon class="icon" icon="code"}}作为scrapy项目下载
                    </a> </li>


                    <li><a {{action (chain-actions (action 'deploy') options.closeMenu) }}>
                        {{list-item-icon class="icon" icon="publish"}} 部署项目
                        </a>
                    </li>


                {{/list-item-icon-menu}}
                <div class={{if isPulsing 'droplet'}}></div>

            {{/tree-list-item}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}
