{{#tooltip-container tooltipFor=(concat "label-" elementId) tooltipContainer='body' as |tooltip|}}
    {{#if (eq tooltip.section 'tooltip')}}
        <p class="first">您所做的每项更改都会自动保存</p>
    {{else}}
        <span id="label-{{elementId}}" class="label label-{{labelColorClass}}">
            {{#if isSaving}}
                Saving <span>.</span><span>.</span><span>.</span>
            {{else if timeSinceLastSave}}
                最后一次保存 {{timeSinceLastSave}}
            {{else}}
                更改会自动保存
            {{/if}}
        </span>
    {{/if}}
{{/tooltip-container}}
