<span>工具</span>

<div class="tool-bar">
    <div class="btn-group" role="group">
        {{#tooltip-container tooltipFor="css-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                Toggle page styling
                <p>
                    启用页面样式后，您将看到页面作者期望展示的网页，与浏览器中显示的方式相同。 但是，
                    有时这会使您难以选择所需的数据，例如，如果页面存在重叠部分或者某些部分是隐藏的。
                </p>
                <p>
                    您可以禁用页面样式，这将更改页面的外观和布局，但会强制页面中的所有内容都可见。
                </p>
            {{else}}
                <button id="css-tool-button" type="button" class="btn btn-default {{if cssEnabled 'active'}}" {{action 'toggleCSS'}}>
                    {{icon-button icon='tool-css'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    </div>

    <div class="btn-group" role="group">
        {{#tooltip-container tooltipFor="magic-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                魔术工具选择器
                <p>
                    启用魔术工具选择器后，它将根据您在网页中指向的元素，尝试自动为您选择最有用的工具。
                </p>
                <p>
                    您可以通过查看启用的工具选择按钮以及光标下元素上可见的图标来查看为您选择的工具。
                </p>
                <p>
                    如果需要，可以使用工具选择按钮切换到下一次单击，来手动更改工具。
                </p>
            {{else}}
                <button id="magic-tool-button" type="button" class="btn btn-default {{if magicToolActive 'active'}}" {{action 'toggleMagicTool'}}>
                    {{icon-button icon='tool-magic'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    </div>

    <div class="btn-group" role="group">
        {{#each-in selectionModeIcons as |mode icon|}}
            {{#tooltip-container tooltipFor=(get selectionModeIds mode) tooltipContainer='body' text=(get selectionModeText mode) }}
                <button id={{get selectionModeIds mode}} type="button" class="btn btn-default {{if (eq activeSelectionMode mode) 'active'}}" {{action (action (mut selectionMode) mode)}}>
                    {{icon-button icon=icon}}
                </button>
            {{/tooltip-container}}
        {{/each-in}}
    </div>
</div>
