<span>工具</span>

<div class="tool-bar">
    <div class="btn-group" role="group">
    {{#if playing }}
        {{#tooltip-container tooltipFor="stop-playback-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                停止播放
            {{else}}
                <button id="stop-playback-tool-button" type="button" class="btn btn-default" disabled={{recording}} {{action 'stopPlayback'}}>
                    {{icon-button icon='stop-playback'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    {{else}}
        {{#tooltip-container tooltipFor="playback-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                回放
                <p>
                    单击播放按钮时，将播放录制的命令
                </p>
            {{else}}
                <button id="playback-tool-button" type="button" class="btn btn-default" disabled={{recording}} {{action 'startPlayback'}}>
                    {{icon-button icon='playback'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    {{/if}}

    {{#if recording }}
        {{#tooltip-container tooltipFor="stop-record-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                停止录制
            {{else}}
                <button id="stop-record-tool-button" type="button" class="btn btn-default" disabled={{playing}} {{action 'stopRecord'}}>
                    {{icon-button icon='stop-record'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    {{else}}
        {{#tooltip-container tooltipFor="record-tool-button" placement='left' tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                开始录制
                <p>
                    单击录制按钮时，用户与当前页面的交互将被记录为当前操作的命令。
                </p>
            {{else}}
                <button id="record-tool-button" type="button" class="btn btn-default" disabled={{playing}} {{action 'startRecord'}}>
                    {{icon-button icon='record'}}
                </button>
            {{/if}}
        {{/tooltip-container}}

    {{/if}}
    </div>

</div>
